---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const users = await getCollection('users');
---

<Layout>
	<h1>Hello from catalos</h1>
	<ul>
		{
			users.map((user) => (
				<li>
					<a href={`/user/${user.data.username}`}>{user.data.username}</a>
				</li>
			))
		}
	</ul>
</Layout>
