---
import Layout from '@src/layouts/Layout.astro';
//import SimpleSearch from '@src/components/SimpleSearch.astro';
import Vitrine from '@src/components/Vitrine.astro';
import '@src/styles/styling-vars.css';
//import '@src/styles/utils.css';
---

<Layout title="Catalog of Parametrix">
	<link href="pagefind/pagefind-ui.css" rel="stylesheet" />
	<script src="pagefind/pagefind-ui.js" is:inline></script>
	<div class="pfwrap"><div id="search"></div></div>
	<script is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			new PagefindUI({ element: '#search', showSubResults: true });
		});
	</script>
	<!--SimpleSearch /-->
	<Vitrine />
</Layout>

<style>
	div.pfwrap {
		padding: 1rem;
		border-radius: var(--cornerSurface);
		border-style: solid;
		border-width: 0.2rem;
		border-color: var(--c1w);
		background-color: var(--c5b);
		margin: 1rem;
	}
	div.pfwrap:hover {
		border-color: violet;
	}
</style>
