---
import Layout from '../../layouts/Layout.astro';
import TopMenu from '../../components/TopMenu.astro';
---

<Layout title="Catalos">
	<TopMenu />
	<h1>Login</h1>
	<article>
		Don't have an account yet?
		<a href="signup">Sign up</a>
	</article>
</Layout>
