---
import Layout from '@src/layouts/Layout.astro';
import TopMenu from '@src/components/TopMenu.astro';
import '@src/styles/colors.css';
---

<Layout title="Catalos">
	<TopMenu />
	<article>
		<h1>Sign up</h1>
		<label
			>Username:
			<input type="text" name="suUsername" size="40/" />
		</label>
		<label
			>First name:
			<input type="text" name="suFirstname" size="40/" />
		</label>
		<label
			>Familly name:
			<input type="text" name="suFamillyname" size="40/" />
		</label>
		<label
			>Email:
			<input type="text" name="suEmail" size="40/" />
		</label>
		<label
			>Password:
			<input type="text" name="suPassword" size="40/" />
		</label>
		<div>
			<button class="prim">Create an account</button>
			<button>Cancel</button>
		</div>
	</article>
</Layout>

<style>
	article {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: var(--cBg);
	}
	label {
		display: block;
	}
	button {
		font-weight: bold;
		color: var(--cLight);
		background-color: var(--c3b);
	}
	button.prim {
		background-color: var(--c1b);
	}
</style>
