/* catalos styling-vars */

:root {
	/* colors */
	--c1w: #003081;
	--c2w: #1b5ab2;
	--c3w: #3584e4;
	--c4w: #71b4f2;
	--c5b: #ade5ff;
	--cErr: Red;
	--cBg: White;
	--cBgWork: Yellow;
	--cDark: Black;
	--cLight: White;
	/* cornes */
	--cornerButton: 0.5rem;
	--cornerSurface: 1rem;
}
