---
import Layout from '@src/layouts/Layout.astro';
import PartCard from '@src/components/PartCard.astro';
//import { getCollection } from 'astro:content';
import type { tDSortedKey } from '@src/lib/sortedParts.ts';
import { dSorted } from '@src/lib/sortedParts.ts';
import '@src/styles/styling-vars.css';

export async function getStaticPaths() {
	return [
		{ params: { sortKey: 'newest' } },
		{ params: { sortKey: 'active' } },
		{ params: { sortKey: 'documented' } },
		{ params: { sortKey: 'random' } },
	];
}

const { sortKey } = Astro.params;

const title = dSorted[sortKey as tDSortedKey].title;
const parts = dSorted[sortKey as tDSortedKey].parts;
//const parts = await getCollection('parts');
---

<Layout title={title}>
	<h1>{title}</h1>
	<section>
		{parts.slice(0, 200).map((part) => <PartCard part={part} />)}
	</section>
</Layout>

<style>
	h1 {
		font-size: 2rem;
		font-weight: bold;
		color: var(--c2w);
		margin-left: 4rem;
	}
	section {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		width: 100%;
		background-color: var(--cBg);
	}
</style>
