---
import DesiPosterLinks from '@src/components/DesiPosterLinks.astro';
import DesiPosterFiles from '@src/components/DesiPosterFiles.astro';
import DesiPosterPictures from '@src/components/DesiPosterPictures.astro';
import DesiPosterOthers from '@src/components/DesiPosterOthers.astro';
import type { CollectionEntry } from 'astro:content';
import '@src/styles/styling-vars.css';

interface Props {
	design: CollectionEntry<'designs'>;
}

const { design } = Astro.props;
---

<article>
	<section>
		<DesiPosterLinks design={design} />
		<DesiPosterFiles design={design} />
	</section>
	<DesiPosterPictures design={design} />
	<DesiPosterOthers design={design} />
</article>

<style>
	article {
		background-color: var(--c5b);
		padding: 0.2rem;
		margin: 1rem;
		border-radius: var(--cornerSurface);
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	section {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}
</style>
