---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

interface Props {
	design: CollectionEntry<'designs'>;
}

const { design } = Astro.props;
const user = await getEntry(design.data.owner);
const vColor = design.data.color;
---

<article>
	<h2>by {user.data.username}</h2>
	<h1>{design.data.designName}</h1>
	<div><div class="vignette"></div><div class="vignette"></div></div>
</article>

<style define:vars={{ vColor }}>
	article {
		width: 20rem;
		background-color: var(--vColor);
		padding: 0.2rem;
		margin: 1rem;
		border-radius: 2rem;
	}
	h2 {
		font-size: 1rem;
		font-weight: bold;
		color: Yellow;
		margin: 0.5rem 2rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: regular;
		color: DarkGrey;
		margin: 0.2rem 2rem;
	}
	div.vignette {
		display: inline-block;
		width: 8rem;
		height: 8rem;
		margin: 0.5rem 1rem;
		background-color: LightGreen;
	}
</style>
