---
import '@src/styles/styling-vars.css';
---

<footer>
	<p>List of all designs: <a href="design-list">design-list</a></p>
	<p>Sources of Catalos: <a href="https://github.com/charlyoleg2/catalos">Github</a></p>
	<p>
		Catalos is a catalogue of designs made with: <a
			href="https://charlyoleg2.github.io/parametrix/">Parametrix</a
		>
	</p>
	<p>Made with: <a href="https://astro.build/">Astro</a></p>
	<p>Online STEP viewer: <a href="https://stepbro.vercel.app/">stepbro</a></p>
</footer>

<style>
	footer {
		width: 100%;
		padding-bottom: 5rem;
		font-size: 1rem;
		color: var(--c1w);
		background-color: var(--c4w);
		padding-top: 1rem;
		padding-bottom: 5rem;
		margin-top: 10rem;
	}
	p {
		color: var(--c2w);
		margin: 0.4rem 4rem;
	}
	a {
		font-weight: bold;
		color: var(--c1w);
	}
</style>
