---
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

interface Props {
	part: CollectionEntry<'parts'>;
}

const { part } = Astro.props;
const user = await getEntry(part.data.owner);
---

<li>
	part: {part.id}
	description: {part.data.description}
	owner: {user.id}
	country: {user.data.country}
</li>
