---
import PartPosterLinks from '@src/components/PartPosterLinks.astro';
import PartPosterFiles from '@src/components/PartPosterFiles.astro';
import PartPosterPictures from '@src/components/PartPosterPictures.astro';
import PartPosterOthers from '@src/components/PartPosterOthers.astro';
import type { CollectionEntry } from 'astro:content';
import '@src/styles/styling-vars.css';

interface Props {
	part: CollectionEntry<'parts'>;
}

const { part } = Astro.props;
---

<article>
	<section>
		<PartPosterLinks part={part} />
		<PartPosterFiles part={part} />
	</section>
	<PartPosterPictures part={part} />
	<PartPosterOthers part={part} />
</article>

<style>
	article {
		background-color: var(--c5b);
		padding: 0.2rem;
		margin: 1rem;
		border-radius: var(--cornerSurface);
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}
	section {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}
</style>
