---

---

<section>
	<label
		>Design key words:
		<input type="text" name="desiName" size="40/" />
	</label>
</section>

<style>
	section {
		width: 100%;
		height: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: LightGreen;
	}
	label {
		font-size: 2rem;
	}
</style>
