---
import { Image } from 'astro:assets';
import svgLoupe from '@src/svg/svgLoupe.svg';
import '@src/styles/styling-vars.css';
---

<section>
	<article>
		<label
			><h1>Key words for finding designs</h1>
			<input type="text" name="desiName" size="40/" />
		</label>
		<button><Image src={svgLoupe} alt="une loupe" width="40" height="40" />Search</button>
	</article>
</section>

<style>
	section {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* background-color: Pink; */
		padding: 2rem;
	}
	article {
		display: flex;
		align-items: flex-end;
		background-color: var(--c4w);
		padding: 2rem 5rem;
		border-radius: var(--cornerSurface);
	}
	h1 {
		font-size: 2rem;
		font-weight: bold;
		color: var(--c2w);
		margin: 0.5rem;
	}
	input {
		font-size: 2rem;
	}
	button {
		display: flex;
		align-items: center;
		font-size: 2rem;
		font-weight: bold;
		color: var(--cLight);
		background-color: var(--c1w);
		border: none;
		border-radius: var(--cornerButton);
		padding: 0.5rem 1rem;
		margin-left: 2rem;
	}
</style>
