---
import '@src/styles/colors.css';
---

<section>
	<article>
		<label
			><h1>Key words for finding designs</h1>
			<input type="text" name="desiName" size="40/" />
			<button>Search</button>
		</label>
	</article>
</section>

<style>
	section {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* background-color: Pink; */
		padding: 2rem;
	}
	article {
		background-color: var(--c4w);
		padding: 2rem 5rem;
		border-radius: 1rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: bold;
		color: var(--c2w);
		margin: 0.5rem;
	}
	input {
		font-size: 2rem;
	}
	button {
		font-size: 2rem;
		font-weight: bold;
		color: var(--cLight);
		background-color: var(--c1w);
		border: none;
		border-radius: 1rem;
		padding: 0.2rem 1rem;
	}
</style>
