---
import '@src/styles/colors.css';
---

<section>
	<label
		><p>Design key words:</p>
		<input type="text" name="desiName" size="40/" />
		<button>Search</button>
	</label>
</section>

<style>
	section {
		width: 100%;
		height: 10rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--c5b);
	}
	p {
		font-size: 1rem;
	}
	input {
		font-size: 2rem;
	}
	button {
		font-size: 2rem;
		font-weight: bold;
		color: var(--cLight);
		background-color: var(--c1w);
		border: none;
		border-radius: 1rem;
	}
</style>
