---
import PartCard from '@src/components/PartCard.astro';
//import { getCollection } from 'astro:content';
import type { tDSortedKey } from '@src/lib/sortedParts.ts';
import { dSorted } from '@src/lib/sortedParts.ts';
import '@src/styles/styling-vars.css';

interface Props {
	title: string;
	sortKey: string;
}

const { title, sortKey } = Astro.props;
const parts = dSorted[sortKey as tDSortedKey].parts;
//const parts = await getCollection('parts');
---

<section>
	<a href=`sorted-parts/${sortKey}`>
		<h1>{title}</h1>
		<p class:list={['subtitle', { withsub: 'newest' === sortKey }]}>
			Click here to see all parts
		</p>
	</a>
	{parts.slice(0, 3).map((part) => <PartCard part={part} />)}
</section>

<style>
	section {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		width: 25rem;
		background-color: var(--c4w);
		border-radius: var(--cornerSurface);
		margin: 1rem;
	}
	a {
		font-size: 2rem;
		font-weight: bold;
		color: var(--cLight);
		background-color: var(--c1w);
		border: none;
		border-radius: var(--cornerButton);
		padding: 0.5rem 1rem;
		margin: 1rem 0;
	}
	h1 {
		margin: 0;
	}
	p.subtitle {
		visibility: hidden;
		font-size: 1rem;
		font-weight: normal;
		color: var(--cLight);
		border: none;
		padding: 0;
		margin: 0 0 0.2rem;
	}
	p.subtitle.withsub {
		visibility: visible;
	}
</style>
