---
import DesiCard from '@src/components/DesiCard.astro';
//import { getCollection } from 'astro:content';
import type { tDSortedKey } from '@src/lib/sortedDesigns.ts';
import { dSorted } from '@src/lib/sortedDesigns.ts';
import '@src/styles/styling-vars.css';

interface Props {
	title: string;
	sortKey: string;
}

const { title, sortKey } = Astro.props;
const designs = dSorted[sortKey as tDSortedKey].designs;
//const designs = await getCollection('designs');
---

<a href=`sorted-design/${sortKey}`>
	<section>
		<h1>{title}</h1>
		{designs.slice(0, 3).map((desi) => <DesiCard design={desi} />)}
	</section>
</a>

<style>
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 25rem;
		background-color: var(--c4w);
		border-radius: var(--cornerSurface);
	}
	h1 {
		font-size: 2rem;
		font-weight: bold;
		color: var(--c2w);
	}
</style>
