---
import DesiCard from '@src/components/DesiCard.astro';
//import { getCollection } from 'astro:content';
import type { tDSortedKey } from '@src/lib/sortedDesigns.ts';
import { dSorted } from '@src/lib/sortedDesigns.ts';
import '@src/styles/styling-vars.css';

interface Props {
	title: string;
	sortKey: string;
}

const { title, sortKey } = Astro.props;
const designs = dSorted[sortKey as tDSortedKey].designs;
//const designs = await getCollection('designs');
---

<section>
	<a href=`sorted-designs/${sortKey}`>
		<h1>{title}</h1>
	</a>
	{designs.slice(0, 3).map((desi) => <DesiCard design={desi} />)}
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 25rem;
		background-color: var(--c4w);
		border-radius: var(--cornerSurface);
	}
	a {
		font-size: 2rem;
		font-weight: bold;
		color: var(--cLight);
		background-color: var(--c1w);
		border: none;
		border-radius: var(--cornerButton);
		padding: 0.5rem 1rem;
		margin: 1rem 0;
	}
	h1 {
		margin: 0;
	}
</style>
