---
import '@src/styles/styling-vars.css';
---

<nav>
	<a href="" class="buttonCatalos">Catalos</a>
	<a href="login" class="buttonLogin">Log in</a>
</nav>

<style>
	nav {
		width: 100%;
		height: 4rem;
		font-size: 1.3rem;
		background-color: var(--c1w);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	a {
		display: block;
		padding: 0.2rem 2rem;
		margin: 0.5rem 3rem;
		font-weight: bold;
		border-radius: 0.5rem;
		border-style: none;
	}
	a.buttonCatalos {
		font-size: 2rem;
		color: var(--c5b);
		background-color: var(--c2w);
		border-radius: 1rem;
	}
	a.buttonLogin {
		color: var(--cLight);
		background-color: var(--c3w);
	}
</style>
