---
import Top3Parts from '@src/components/Top3Parts.astro';
import '@src/styles/styling-vars.css';
---

<section>
	<Top3Parts title="Newest parts" sortKey="newest" />
	<Top3Parts title="Most active" sortKey="active" />
	<Top3Parts title="Most documented" sortKey="documented" />
	<Top3Parts title="Random parts" sortKey="random" />
</section>

<style>
	section {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-around;
		padding: 2rem;
		background-color: var(--cBg);
	}
</style>
