---
import Layout from '@src/layouts/Layout.astro';
import PartMicroCard from '@src/components/PartMicroCard.astro';
import { getCollection } from 'astro:content';
import '@src/styles/styling-vars.css';

const parts = await getCollection('parts');
---

<Layout title="All part list">
	<h1>List of all parts</h1>
	<section>
		{parts.map((part) => <PartMicroCard part={part} />)}
	</section>
</Layout>

<style>
	h1 {
		font-size: 2rem;
		font-weight: bold;
		color: var(--c2w);
		margin-left: 4rem;
	}
	section {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		width: 100%;
		background-color: var(--cBg);
	}
</style>
